{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h1> Welcome to Unlost</h1>
    <br><br>

     <h3>  </h3>

     <p>
        Ever misplaced something and now you're on a quest to find it?
        <br><br>
        Or perhaps you stumbled upon a mystery object and have no clue what to do?
        <br><br>
        Well, you've just stepped into the right place!
        <br>

        <hr>

        Post about your lost treasure or Scroll through the feed to find your lost item.
        <br>
        

        <hr>

        Claim your item by shooting a message to the rightful owner with proof.

        <hr>
        Mark the item as claimed if an item you found belonged to someone and was claimed with proof.
        <hr>
        <strong>Unlost is here to help!</strong>
     </p>
{% endblock %}
