{% extends "layout.html" %}

{% block title %}
Apology
{% endblock %}

{% block main %}
<h1> Welcome to Unlost</h1>
<br><br>

<div class="center">
    <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Your Image" class="center-image" height="300">
</div>

<br><br>

<p>
    
    <br>

    <hr>

    Post about your lost treasure or Scroll through the feed to find your lost item.
    <br>

    <hr>

    Claim your item by shooting a message to the rightful owner with proof.

    <hr>
    Mark the item as claimed if an item you found belonged to someone and was claimed with proof.
    <hr>
    <strong>Unlost is here to help!</strong>
</p>
{% endblock %}