{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h1> DISCLAIMER </h1>
    <br>
     <h3></h3>

     <p>
        Unlost cannot guarantee the accuracy of information posted on this platform. We assume no responsibility for false claims made by users..
        <br>
        
        <br>
        

        <hr>

        Unlost for college campuses extends the responsibility to keep the community free of fraud and false claims to each member. Work together to maintain a trustworthy and secure environment for all.
        <br>

        <hr>

        Posts containing explicit content, illegal activities, or promoting harm will be promptly removed. Appropriate authorities will be notified of any such violations.

        <hr>
        Be respectful and courteous to community members.
        <hr>
        <strong>This is a shared space; let's collectively ensure its integrity.</strong>
     </p>
{% endblock %}
