{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}

<div class="center">
    <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Your Image" class="center-image" width="100" height="100">
    <br><br>
    <h1 class="center">Unlost</h1>
    <br>
    <h3 class="center">Lost and Found Community</h3>
    <br>

    Login Or Register to Continue:
    <br>
</div>

<hr>

<form action="/login" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>
{% endblock %}